NODE_ENV="production" # production | development | testing
PORT="3001"
PG_USER="postgres"
PG_PASSWORD="postgres"
PG_HOST="localhost"
PG_PORT="5432"
PG_DATABASE="parcela_mais_db"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/parcela_mais_db"
